{% extends 'admin.twig' %}

{% set title %}{{ 'GoogleAuthenticator_Settings'|translate }}{% endset %}

{% block content %}
    <div piwik-content-block content-title="{{ title|e('html_attr') }}">

    <form ng-controller="GoogleAuthenticatorSettings" method="post" action="{{ {"disable": null, "activate": null} | urlRewriteWithParameters }}">

        <div class="alert alert-info">{{ 'GoogleAuthenticator_SecretGenerated'|translate }}</div>

        <div piwik-field uicontrol="text" name="gasecret"
             title="{{ 'GoogleAuthenticator_Secret'|translate|e('html_attr') }}"
             disabled="true"
             value="{{ newSecret }}"
             inline-help="{{ 'GoogleAuthenticator_SecretDescription'|translate|e('html_attr') }}">
        </div>

        <input type="hidden" name="gasecret" value="{{ newSecret }}" />

        <div piwik-field uicontrol="text" name="gatitle"
             title="{{ 'GoogleAuthenticator_Title'|translate|e('html_attr') }}"
             value="{{ gatitle }}"
             ng-model="gatitle"
             inline-help="{{ 'GoogleAuthenticator_TitleDescription'|translate|e('html_attr') }}">
        </div>

        <div piwik-field uicontrol="text" name="description"
             title="{{ 'GoogleAuthenticator_Description'|translate|e('html_attr') }}"
             value="{{ description }}"
             ng-model="description"
             inline-help="{{ 'GoogleAuthenticator_DescriptionDescription'|translate|e('html_attr') }}">
        </div>

        <div piwik-field uicontrol="text"
             disabled="true"
             title="{{ 'GoogleAuthenticator_QRCodeDescription'|translate|e('html_attr') }}"
             inline-help="{{ '<img class="qrcode"/>'|e('html_attr') }}">
        </div>

        <div piwik-field uicontrol="text" name="gaauthcode"
             title="{{ 'GoogleAuthenticator_AuthCode'|translate|e('html_attr') }}"
             value=""
             inline-help="{{ 'GoogleAuthenticator_AuthCodeNewDescription'|translate|e('html_attr') }}">
        </div>

        <input type="hidden" name="authCodeNonce" ng-model="ajaxForm.data.authCodeNonce" value="{{ authCodeNonce }}">

        <input type="submit" class="btn" value="{{ 'GoogleAuthenticator_Proceed'|translate }}" />
    </form>
    </div>
{% endblock %}