{% extends 'user.twig' %}
{% block content %}

    <form method="post" action="{{ {"disable": null, "activate": null} | urlRewriteWithParameters }}">
        <h2 piwik-enriched-headline>{{ 'GoogleAuthenticator_Settings'|translate }}</h2>

        <div class="alert alert-info">{{ 'GoogleAuthenticator_SecretGenerated'|translate }}</div>

        <div class="form-group">
            <label for="secret">{{ 'GoogleAuthenticator_Secret'|translate }}</label>

            <div class="form-help">{{ 'GoogleAuthenticator_SecretDescription'|translate }}</div>
            <input type="text" disabled value="{{ newSecret }}" id="gasecret"/>
            <input type="hidden" value="{{ newSecret }}" name="gasecret"/>
        </div>

        <div class="form-group">
            <label for="title">{{ 'GoogleAuthenticator_Title'|translate }}</label>

            <div class="form-help">{{ 'GoogleAuthenticator_TitleDescription'|translate }} <a href="javascript:;" id="changeTitle">{{ 'GoogleAuthenticator_Change'|translate }}</a></div>
            <input type="text" readonly value="{{ title }}" id="gatitle" name="gatitle" />
        </div>

        <div class="form-group">
            <label for="description">{{ 'GoogleAuthenticator_Description'|translate }}</label>

            <div class="form-help">{{ 'GoogleAuthenticator_DescriptionDescription'|translate }} <a href="javascript:;" id="changeDescription">{{ 'GoogleAuthenticator_Change'|translate }}</a></div>
            <input type="text" readonly value="{{ description }}" id="gadescription" name="gadescription" />
        </div>

        <div class="form-group">
            <label for="qrcode">{{ 'GoogleAuthenticator_QRCodeDescription'|translate }}</label>
            <img id="qrcode" src="{{ googleAuthImage }}"/>
        </div>

        <div class="form-group">
            <label for="authcode">{{ 'GoogleAuthenticator_AuthCode'|translate }}</label>

            <div class="form-help">{{ 'GoogleAuthenticator_AuthCodeNewDescription'|translate }}</div>
            <input type="text" value="" name="gaauthcode" id="gaauthcode"/>
        </div>

        <input type="hidden" name="authCodeNonce" value="{{ authCodeNonce }}">

        <button type="submit">{{ 'GoogleAuthenticator_Proceed'|translate }}</button>
    </form>
{% endblock %}